<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h2>Users</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <th:block th:each="user : ${usersList}">
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td><form th:action="@{updateUser/{id}(id=${user.id})}" th:method="get">
                    <input type="submit" value="Update">
                </form></td>
                <td><form th:action="@{deleteUser/{id}(id=${user.id})}" th:method="post">
                    <input type="submit" value="Delete">
                </form></td>
            </tr>
        </th:block>
    </table>
    <input type="button" value="Add" onclick="window.location.href = 'userInfo'">
</div>
</body>
</html>